html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
} 

body {
    background-color: #d4bd9e; /* Cambia esto al color de fondo que prefieras */
    font-family: Arial sans-serif; /* Cambia esto a la fuente que prefieras */
}

#root {
    height: 100%;
    border: 1px;
}

.bar {
    background-color: #FFE8C5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0px 20px;
}

.movies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 50px;
    grid-auto-rows: minmax(100px, auto);
}

/* Movie Display corresponds to the elements in MoviesDispay component. */
.movie-display {
    flex: 1 0 5%;
    align-items: center;
    justify-content: center;
    margin: 10px;
    text-align: center;
}

.movie-display p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.movie-display img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}