html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
} 

body {
    background-color: #d4bd9e;
    font-family: sans-serif;
}

#root {
    height: 100%;
    border: 1px;
}

.bar {
    border-radius: 10px;
    background-color: #FFE8C5;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0px 20px;
}

.toggle {
    background-color: #FFE8C5;
    border: solid #FFA27F;
    border-radius: 100px;
    padding: 0.5vw 20vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .toggle-button { 
        border: solid;
        border-radius: 100%;
        background-color: transparent;
    }
}

.group-from {
    padding: 10px;
}

/* Movie Display Container */
.movies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 50px;
    grid-auto-rows: minmax(100px, auto);
}

/* Movie Display corresponds to the elements in MoviesDispay component. */
.movie-display {
    flex: 1 0 5%;
    align-items: center;
    justify-content: center;
    margin: 10px;
    text-align: center;
    cursor: pointer;

    p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
    }

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}

/* Movie Component */
.movie {
    display: grid;
    padding: 20px;
    .poster {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    .description {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 4;
    }
}

/* Groups Display */
.group-container {
    display: flex;
    flex-direction: column;
}

/* Individual Group Display */
.group {
    margin: 10px;
    padding: 10px;
    border: solid #FFA27F;
    border-radius: 30px;
    background-color: #FFE8C5;
    cursor: pointer;

    h1 {
        padding-left: 100px;
    }

    .info {
        padding-right: 100px;
        display: flex;
        justify-content: end;
        align-items: center;
    }
}